* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

#container {
  max-width: 960px;
  margin: 2rem auto 0;
  overflow: hidden;
}
.nav-link {
  float: left;
  display: block;
  color: green;
  text-align: center;
}
.message-box {
  margin: 1.5rem;
  padding: 0.8rem;
  text-align: center;
}
.message-box h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
#how-it-work {
  padding: 3rem;
  margin: auto;
  text-align: center;
}

#how-it-work #video {
  width: 600px;
  height: 340px;
}
#pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 0.2rem;
}
.price-box:last-child {
  margin-left: 1.2rem;
}
.price-box {
  border: solid #333 3px;
  border-radius: 2px;
  text-align: center;
}
.price-box p {
  padding: 0 4rem 1rem;
}

.price-box .btn {
  display: inline-block;
  margin: 1rem;
}
